
body{
    min-width: 376px;
    max-width: 600px;
    background-color: black;
    color:white;
}

.section{
    border: 1px solid #222;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

.sectionHead{
    position: relative;
    padding-left: 5px;
}

hr{
    height: 1px;
    border: none;
    background-color:maroon;
}


h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: brown;
    height: 25px;
}

h2{
    font-size: 10pt;
    color: crimson;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    content: " added ";
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: rgb(102, 6, 25);
    font-size: 18pt;
    margin: auto;
}


/* COLLECTIONS SECTION */
/* =========================================================== */

#addIcon{
    position: absolute;
    right: 60px;
    top: 0px; 
}

#settingsIcon{
    position: absolute;
    right: 10px;
    top: 0px; 
}

#collections{
    height: 80px;
    width: 100%;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px;
    grid-template-rows: 80px;
    grid-auto-flow: row;
    row-gap: 15px;
    justify-items: start;

    overflow-y:auto;
   
}

.project:hover{
    background-color: gray;
}

.project{
    width: 80px;
    height: 60px;
    border: 1px solid rgba(255,0,0,.3);
    border-radius: 10px;
    box-shadow: 10px;
    
    background-color: #222;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    margin: auto;
    text-align: center;
    
}

.project.activeProject{
    border: 1px solid yellow;
    background-color:#777;
}

#p1{
    grid-column: 1;
    grid-row:1;
}

#p2{
    grid-column: 2;
}
#p3{
    grid-column: 3;
    grid-row:1;
}
#p0{
    grid-column: 5;
    grid-row:1;
    text-align: center;
}

img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

/* DATA SECTION */
/* =========================================================== */
#dataSection h1{height: 30px;}

#deleteIcon{
    position: absolute;
    right: 10px;
    top: 0px; 
}

#downloadIcon{
    position:absolute;
    right: 60px;
    top: 0px;
}

#saveIcon{
    position:absolute;
    right: 120px;
    top: 0px;
}

#btnSave{
    position:absolute;
    right: 20px;
    top: -25px;

    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: black;
    color: crimson;
    font-size: 14pt;
}

.icon :hover{
    color: white;
    background-color: #777;
    border: 1px solid red;
}


/* Text Items */
/* ============================= */

.textDataItem{
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
}


#cwiDataSection.dragOver{
    border: 3px solid green;
}

.dragOverRemove{
    border: 3px solid red;
}

/* CWI Data Items */
/* ============================= */

.cwiDataItemContainer{
    cursor:move;
}

.activeRow{
    color:lightblue;
    background-color: #555;
}

.cwiDataItem{
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    
    height: 50px;
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: #222; */
    margin: 1px;
    padding: 1px;

    display: grid;
    grid-template-columns: 40px 150px auto 150px;
    grid-template-rows: 20px 20px;
    row-gap: 3px;
    column-gap: 10px;
    cursor: move;
}

.cwiDataIcon{
    grid-column: 1;
    grid-row: 1/2;

    height: 40px;
    width: 40px;
    /* padding-top:5px; */

    background-color: #222;
    border: 1px solid #222;
    border-radius: 5px;
}

.cwiDataName{
    grid-column: 2;
    grid-row: 1;
    cursor: default;
}

.cwiDataDesc{
    grid-column: 2/5;
    grid-row: 2;
    margin: 0px;
    font-size: 8pt;
    color:#777;

    text-overflow: ellipsis;
    overflow: hidden;
    
    cursor:default;
    /* border: 1px solid red; */
}

.cwiDataUserLabel{
    grid-column: 4;
    grid-row: 1;
    cursor:text;
    color:rgb(187, 211, 231);
}




#dropTarget{
    height:40px;
    width: 100%;
    background-color:#222; 
    border: 1px dashed #555;
    border-radius: 5px;
}

#dropTargetLabel{
    width: 50%;
    height: 40px;
    margin: auto;
    text-align: center;
    vertical-align: center;
    color: #777;
}

#trashCanSection{
    position:sticky;
    height: 40px;
    bottom: 10px;
}

#trashCan{
    width:300px;
    color: #777;
    margin: auto;
    position:relative;
    top: 10px;   
    text-align: center;
}

div:empty::after{
    content: "Click to add label";
    color: #333;
    margin: 0px;
    padding: 0px;
}

